/* Background */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 100, 0, 0.2), rgba(0, 100, 0, 0.2));
    font-family: Arial, Helvetica, sans-serif;
}

/* Center Container */
.signup-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* White Card */
.signup-box {
    width: 450px;
    background: #ffffffee;
    padding: 35px 40px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(58, 226, 136, 0.275);
    text-align: center;
}

.signup-box h2 {
    margin: 0;
    color: #2e5e2e;
    font-size: 28px;
}

.subtitle {
    color: #049e04;
    margin-bottom: 25px;
    font-size: 14px;
}

/* Input Groups */
.input-group {
    text-align: left;
    margin-bottom: 18px;
}

.input-group label {
    font-size: 14px;
    color: #2f4f2f;
}

.input-group input {
    width: 93%;
    padding: 10px 12px;
    margin-top: 6px;
    border: 1px solid #a5c9a5;
    border-radius: 8px;
    transition: 0.3s;
    outline: none;
}

.input-group input:focus {
    border-color: #2e7d32;
    box-shadow: 0 0 6px rgba(46, 125, 50, 0.4);
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    background: #2e7d32;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #245c26;
}

/* Signup Link */
.signup-text {
    margin-top: 15px;
}

.signup-text a {
    color: #2e7d32;
    text-decoration: none;
    font-weight: bold;
}

.signup-text a:hover {
    text-decoration: underline;
}